*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body{
    background: rgb(196, 164, 132);
    color: black;
    overflow: hidden;
    overflow-y: scroll;
}